<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="../js/react.development.js"></script>
  <script type="text/javascript" src="../js/react-dom.development.js"></script>
  <script type="text/javascript" src="../js/babel.min.js"></script>
  <title>Document</title>
</head>
<div></div>

<body>
  <div id="test"></div>

  <script type="text/babel">
    // 创建类式组件
    class Weather extends React.Component{
      constructor(props){
        super(props);
        this.state = {isHot:true,wind:'微风'};
        this.demo=this.changeWeather.bind(this);
      }
      render() {
        // console.log(this);
        const {isHot,wind} = this.state;
        return <h1 onClick={this.demo}>今天天气很{isHot? '炎热':'凉爽'},{wind}</h1>
      }
      changeWeather() {
        const isHot = this.state.isHot;

      // state必须通过setState更新

        this.setState({
          isHot:!isHot
        })
      }
    }

  ReactDOM.render(<Weather/>,document.getElementById('test'));

  </script>
</body>

</html>